body {
	background: #cccccc;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #F5F5DC;
	position: relative;
}

.vasetop{
	left:619px;
	top:320px;
	width:70px;
	height:120px;
	background: white;
	opacity: .75;
	position:absolute;
	z-index: 30;
}

.vasetop1{
	left:626px;
	top:296px;
	width:55px;
	height:25px;
	background: white;
	opacity: .75;
	position:absolute;
	z-index: 30;
}


.stem {
	width:6px;
	height:200px;
	background:#00b33c;
	top:237px;
	left:653px;
	position:absolute;
	
}

.stem2 {
	width:6px;
	height:146px;
	background:#00b33c;
	top:225px;
	left:671px;
	position:absolute;
	-ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
	
}

.stem3 {
	width:6px;
	height:250px;
	background:#00b33c;
	top:180px;
	left:660px;
	position:absolute;
	-ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
	
}

.stem4 {
	width:6px;
	height:250px;
	background:#00b33c;
	top:180px;
	left:634px;
	position:absolute;
	-ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
	
}

.stem5 {
	width:6px;
	height:204px;
	background:#00b33c;
	top:224px;
	left:632px;
	position:absolute;
	-ms-transform: rotate(-14deg); /* IE 9 */
    -webkit-transform: rotate(-14deg); /* Chrome, Safari, Opera */
    transform: rotate(-14deg);
	
}

.shape27{display:inline-block!important;
	
	width:30px;
	height:30px;
	background-color:#e60000;
	position:absolute;
	top:225px;
	left:590px;
}


.shape27:before{position:absolute;
	content:'';
	width:30px;
	height:30px;
	background-color:#ff1a1a;
	transform:rotate(60deg);
	position:absolute;
	top:1px;
	left:1px;
}

.shape27:after{position:absolute;content:'';
width:30px;
height:30px;
background-color:#e60000;
transform:rotate(30deg);
position:absolute;
top:1px;
left:1px;
}

.shape28{display:inline-block!important;
	
	width:30px;
	height:30px;
	background-color:#e60000;
	position:absolute;
	top:225px;
	left:640px;
}


.shape28:before{position:absolute;
	content:'';
	width:30px;
	height:30px;
	background-color:#ff1a1a;
	transform:rotate(60deg);
	position:absolute;
	top:1px;
	left:1px;
}

.shape28:after{position:absolute;content:'';
width:30px;
height:30px;
background-color:#e60000;
transform:rotate(30deg);
position:absolute;
top:1px;
left:1px;
}

.shape29{display:inline-block!important;
	
	width:30px;
	height:30px;
	background-color:#e60000;
	position:absolute;
	top:182px;
	left:609px;
}


.shape29:before{position:absolute;
	content:'';
	width:30px;
	height:30px;
	background-color:#ff1a1a;
	transform:rotate(60deg);
	position:absolute;
	top:1px;
	left:1px;
}

.shape29:after{position:absolute;content:'';
width:30px;
height:30px;
background-color:#e60000;
transform:rotate(30deg);
position:absolute;
top:1px;
left:1px;
}

.shape30{display:inline-block!important;
	
	width:30px;
	height:30px;
	background-color:#e60000;
	position:absolute;
	top:173px;
	left:653px;
}


.shape30:before{position:absolute;
	content:'';
	width:30px;
	height:30px;
	background-color:#ff1a1a;
	transform:rotate(60deg);
	position:absolute;
	top:1px;
	left:1px;
}

.shape30:after{position:absolute;content:'';
width:30px;
height:30px;
background-color:#e60000;
transform:rotate(30deg);
position:absolute;
top:1px;
left:1px;
}

.shape31{display:inline-block!important;
	
	width:30px;
	height:30px;
	background-color:#e60000;
	position:absolute;
	top:207px;
	left:696px;
}


.shape31:before{position:absolute;
	content:'';
	width:30px;
	height:30px;
	background-color:#ff1a1a;
	transform:rotate(60deg);
	position:absolute;
	top:1px;
	left:1px;
}

.shape31:after{position:absolute;content:'';
width:30px;
height:30px;
background-color:#e60000;
transform:rotate(30deg);
position:absolute;
top:1px;
left:1px;
}





.cupblock{
	border-bottom: 27px solid #f0f8ff;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	height: 21px;
	width: 50px;
	top:323px;
	left:352px;
	position:absolute;
	border-radius: 35%;
	border-bottom-right-radius: 30%;
	border-bottom-left-radius: 30%;
	z-index: 20;
	
}	

.cupblock2{
	border-bottom: 27px solid #f0f8ff;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	height: 21px;
	width: 50px;
	top:323px;
	left:440px;
	position:absolute;
	border-radius: 35%;
	border-bottom-right-radius: 30%;
	border-bottom-left-radius: 30%;
	z-index: 20;
	
}
.wine {
	width: 63px;
	height: 72px;
	background: #FFD700;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	top:351px;
	left:354px;
	position:absolute;
	z-index: 10;
	opacity: 0.5;
	border-radius:50% 50% 50% 50% / 60% 60% 40% 40%;
}

.wine2 {
	width: 63px;
	height: 72px;
	background: #FFD700;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	top:351px;
	left:444px;
	position:absolute;
	z-index: 10;
	opacity: 0.5;
	border-radius:50% 50% 50% 50% / 60% 60% 40% 40%;
}

.cup {
	border-bottom: 27px solid #f0f8ff;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	height: 21px;
	width: 50px;
	top:323px;
	left:352px;
	position:absolute;
	border-radius: 35%;
	border-bottom-right-radius: 30%;
	border-bottom-left-radius: 30%;
	z-index: 10;
	opacity: 0.8;

}	

.cupa {
	width: 70px;
	height: 82px;
	background: #f0f8ff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	top:344px;
	left:351px;
	position:absolute;
	z-index: 10;
	opacity: 0.8;
}

.cupb {
	width: 10px;
	height: 41px;
	background: #f0f8ff;
	top:403px;
	left:380px;
	position:absolute;
	z-index: 10;
	opacity: 0.8;
}

.cupc {
	border-bottom: 15px solid #f0f8ff;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 20px;
	top: 444px;
	left: 360px;
	position: absolute;
	z-index: 10;
	opacity: 0.8;
}

.cup2{
	border-bottom: 27px solid #f0f8ff;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	height: 21px;
	width: 50px;
	top:323px;
	left:440px;
	position:absolute;
	border-radius: 35%;
	border-bottom-right-radius: 30%;
	border-bottom-left-radius: 30%;
	z-index: 10;
	opacity: 0.8;
}	

.cup2a {
	width: 70px;
	height: 82px;
	background: #f0f8ff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	top:344px;
	left:441px;
	position:absolute;
	z-index: 10;
	opacity: 0.8;
}

.cup2b {
	width: 10px;
	height: 41px;
	background: #f0f8ff;
	top:403px;
	left:471px;
	position:absolute;
	z-index: 10;
	opacity: 0.8;
}

.cup2c {
	border-bottom: 15px solid #f0f8ff;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 20px;
	top: 444px;
	left: 451px;
	position: absolute;
	z-index: 10;
	opacity: 0.8;
}

#mat {
	border-bottom: 139px solid yellow;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	height: 0px;
	width: 600px;
	top:417px;
	left:28px;
	position:absolute;
}

.heart{
    position: relative;
    width: 100px;
    height: 90px;
    float: left;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 409px;
    top: 66px;
    width: 112px;
    height: 185px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after{
    left: 297px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.string {
	width:6px;
	height:360px;
	background:white;
	top:100px;
	left:405px;
	position:absolute;
}

#triangle {
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 250px solid yellow;
	position: absolute;
	top: 160px;
	left: 100px;
}



#cup2 {
	border-bottom: 27px solid #f0f8ff;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	height: 21px;
	width: 41px;
	top:390px;
	left:450px;
	position:absolute;
	border-radius: 35%;
	border-bottom-right-radius: 30%;
	border-bottom-left-radius: 30%;
}	

 #cupbase2 {
	width: 60px;
	height: 50px;
	background: #f0f8ff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	top:420px;
	left:450px;
	position:absolute;
}

#cuprec2 {
	width: 10px;
	height: 50px;
	background: #f0f8ff;
	top:440px;
	left:460px;
	position:absolute;
}

#cupbottom2 {
	border-bottom: 15px solid #f0f8ff;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 20px;
	top: 484px;
	left: 450px;
	position: absolute;
}

.bottlelabel {
	left:230px;
	top:316px;
	width:74px;
	height:121px;
	background: white;
	position:absolute;
	z-index: 30;
	border-style:solid;
	border-color:gold;
	

}

#bottletop{
	height: 100px;
	width: 28px;
	border-radius: 10%;
  	background-color: #3d9970;
	top: 118px;
	left: 257px;
	position: absolute;
}

#bottlebase {
	height: 200px;
	width: 80px;
	border-radius: 10%;
  	background-color: #3d9970;
	top: 270px;
	left: 230px;
	position: absolute;
}

#bottlemiddle {
	height: 200px;
	width: 80px;
	border-radius: 35%;
  	background-color: #3d9970;
	top: 220px;
	left: 230px;
	position: absolute;
}

#bottleneck {
	top: 158px;
	left: 233px;
	border-left: 37px solid transparent;
	border-right: 37px solid transparent;
	border-bottom: 100px solid #3d9970;
	position: absolute;
}




#circle {
	width: 200px;
	height: 200px;
	background: blue;
	border-radius: 200px;
	top: 160px;
	left: 600px;
	position: absolute;
}


